<!DOCTYPE html>
<html layout:decorate="layout/simple">
  <head>
    <title>Login</title>
  </head>
  <body>
    <div layout:fragment="content">
      <form action="" class="">
        <div class="form__div">
          <input type="email" class="form__input" placeholder=" " />
          <label class="form__label">Correo electronico</label>
        </div>

        <div class="form__div">
          <input type="password" class="form__input" placeholder=" " />
          <label class="form__label">Contraseña</label>
        </div>

        <label class="my-form-check-input">
          <input type="checkbox" />
          <span class="form-check-label my-text-color" for="exampleCheck1">
            Mantener la sesión iniciada
          </span>
        </label>

        <button type="submit" class="btn my-btn-primary btn-block py-2 my-3">
          Iniciar Sesión
        </button>
      </form>
      <a class="my-text-color" href="#">¿Olvidaste tu contraseña?</a>
    </div>
  </body>
</html>
