<!DOCTYPE html>
<html layout:decorate="~{layout/simple}">
  <head>
    <title>Soporte</title>
  </head>
  <body>
    <div layout:fragment="content">
      <h5><strong>Escribe tu nueva contraseña</strong></h5>

      <form action="" class="">
        <div class="form__div">
          <input type="password" class="form__input" placeholder=" " />
          <label class="form__label">Nueva Contraseña</label>
        </div>

        <div class="form__div">
          <input type="password" class="form__input" placeholder=" " />
          <label class="form__label">Repite tu nueva contraseña</label>
        </div>

        <button type="submit" class="btn my-btn-primary btn-block py-2 my-3">
          Registrate
        </button>
      </form>
      <a class="my-text-color" href="/login"><strong>Cancelar</strong></a>
    </div>
  </body>
</html>
