<!DOCTYPE html>
<html layout:decorate="~{layout/simple}">
  <head>
    <title>Registro</title>
  </head>
  <body>
    <div layout:fragment="content">
      <form action="" class="">
        <div class="form__div">
          <input type="text" class="form__input" placeholder=" " />
          <label class="form__label">Nombre</label>
        </div>

        <div class="form__div">
          <input type="email" class="form__input" placeholder=" " />
          <label class="form__label">Correo electronico</label>
        </div>

        <div class="form__div">
          <input type="password" class="form__input" placeholder=" " />
          <label class="form__label">Contraseña</label>
        </div>

        <button type="submit" class="btn my-btn-primary btn-block py-2 my-3">
          Registrate
        </button>
      </form>
      <a class="my-text-color" href="/login"><strong>Inicia sesion</strong></a>
    </div>
  </body>
</html>
